<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5" style="margin-right:100%">
		<div class="container-fluid">
			<p>3.Отметьте социальные сети </p>
			<div id="checkboxes">
				<div class="form-group">
					<div class="checkbox">
						<label>
									<input type="checkbox" name="facebook" value="fb" onclick="check(this)"> Facebook
								</label>
					</div>
					<input type="text" class="checked" placeholder="Имя" style="display:none" required/>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
									<input type="checkbox" name="vkontakte" value="vk" onclick="check(this)"> Вконтакте
								</label>
					</div>
					<input type="text" class="checked" placeholder="Имя" style="display:none" required/>
				</div>

				<div class="form-group">
					<div class="checkbox">
						<label>
									<input type="checkbox" name="twitter" value="tw" onclick="check(this)">Twitter
								</label>
					</div>
					<input type="text" class="checked" placeholder="Имя" style="display:none" required/>
				</div>

				<div class="form-group">
					<div class="checkbox">
						<label>
									<input type="checkbox" name="odnoklassniki" value="ok" onclick="check(this)">Одноклассники
								</label>
					</div>
					<input type="text" class="checked" placeholder="Имя" style="display:none" required/>
				</div>
			</div>
		</div>
	</div>
</div>

