<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5" style="margin-right:100%">
		<div class="row" id="nav_group">
			<button vaule="1" class="btn btn-default text-center btn_nav_top" onclick="page(this)">1</button>
			<button vaule="2" class="btn btn-default text-center btn_nav_top" onclick="page(this)">2</button>
			<button vaule="3" class="btn btn-default text-center btn_nav_top" onclick="page(this)">3</button>
			<button vaule="4" class="btn btn-default text-center btn_nav_top" onclick="page(this)">4</button>
		</div>
	</div>
</div>
