<div class="row">
	<div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="margin-right:100%">
		<button id="prev_button" class="btn btn-default text-center nav_btn " onclick="prev()"> &#8249  Предыдущий </button>
		<button id="next_button" class="btn btn-default text-center nav_btn" onclick="next()">Следующий	&#8250;</button>
		<button id="start_button" class="btn btn-default text-center" style="display: none" onclick="start()">Начать сначала</button>
	</div>
</div>