<div class="row user_form">
	<div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-4" style="margin-right:100%">
		<p>4. Выберите любимого котика</p>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-2" style="margin-right:100%">
		<div>
			<div class="chooseImg" name="cat1" style="background-image: url('./files/cat1.jpg')" onclick="chooseCat(this)"></div>
			<div class="chooseImg" name="cat2" style="background-image: url('./files/cat2.jpg')" onclick="chooseCat(this)"></div>
			<div class="chooseImg" name="cat3" style="background-image: url('./files/cat3.jpg')" onclick="chooseCat(this)"></div>
			<div class="chooseImg" name="dog4" style="background-image: url('./files/dog4.jpg')" onclick="chooseCat(this)"></div>
		</div>
		<div id="error_cat" class="error">  Нужно выбрать любимого котика! </div>
		<div id="error_dog">Вы выбрали собачку. А надо котика.</div>
	</div>
</div>
<!--${require('./step4')}-->