<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3" style="margin-right:100%">
		<div class="container-fluid">
			<p>4. Выберите любимого котика</p>
			<div>
				<div class="chooseImg" name="cat1" style="background-image: url('./files/cat1.jpg')" onclick="chooseCat(this)"></div>
				<div class="chooseImg" name="cat2" style="background-image: url('./files/cat2.jpg')" onclick="chooseCat(this)"></div>
				<div class="chooseImg" name="cat3" style="background-image: url('./files/cat3.jpg')" onclick="chooseCat(this)"></div>
				<div class="chooseImg" name="dog4" style="background-image: url('./files/dog4.jpg')" onclick="chooseCat(this)"></div>
				<div id="error_dog">Вы выбрали собачку. А надо котика.</div>
			</div>
		</div>
	</div>
</div>