<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5" style="margin-right:100%">
		<div class="container-fluid">
			<p>2. Выберите страну и город</p>
			<div class="form-group">
				<select type="text" id="countries" class="form-control dropdown_input" type="button" placeholder="Страна" required>
                    </select>

			</div>
			<br>
			<div class="form-group">
				<select type="text" id="cities" class="form-control dropdown_input" type="button" placeholder="Город" required></select>
			</div>
		</div>
	</div>
</div>

<!--${require('./step2')}-->