<div class="row user_form">
	<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-5" style="margin-right:100%">
		<div class="container-fluid row">
			<p>2. Выберите страну и город</p>
			<div class="row">
				<div class="form-group col-md-5">
					<select type="text" id="countries" class="form-control dropdown_input" type="button" placeholder="Страна" required>
                    </select>
				</div>
				<div id="error_country" class="error col-md-4"> - Выберите страну! </div>
			</div>
			<br>
			<div class="row">
				<div class="form-group col-md-5">
					<select type="text" id="cities" class="form-control dropdown_input" type="button" placeholder="Город" required></select>
				</div>
				<div id="error_city" class="error col-md-4"> - Выберите город! </div>
			</div>
		</div>
	</div>
</div>

<!--${require('./step2')}-->