button, p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

p {
    text-align: left;
    margin-top: 16px !important;
    margin-bottom: 40px !important;
}

input {
    border-radius: 2px !important;
    margin-bottom: 16px !important;
}

input:invalid {
    border: 1px solid #ff0000;
}
input:valid {
    border: 1px solid #bbbbbb;
}

.dropdown-menu{
    width: 100%;
}
#next_button, #prev_button, #start_button{
    margin-top: 134px;
}
.row {
    text-align: center;
}
.checkbox {
    text-align: left;
}

.user_form {
    display:none;
    margin-top: 0;
}

#error {
    display: none;
    color: #ff0000;
    float: right;
}

.error {
    display: none;
    color: #ff0000;
}
#error_empty {
    display: none;
    color: #ff0000;
}
#error_dog {
    display: none;
    color: #ff0000;
}

ul{
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    padding-left: 0;
    }
li{
    list-style: none;
}

.chooseImg {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 2px solid #ff9800;
    background: 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}


#result {
    background-color: white;
    display: none;
    margin-bottom: 32px;
}
#pics {
    float: right;
    height: 195px;
    width: 200px;
    background: no-repeat;
    background-size: cover;
    margin: 24px;
}
#pers_info{
    text-align: left;
    margin: 10%;
}
.nav_btn{
    color: #ff9800 !important;
  /*  display: inline-block !important;*/
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 2px !important;
}
.btn_nav_top{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px !important;
     color: #bbbbbb;
}

#start_button{
    background-color:#f7931d; 
    color: #ffffff;
}

.checked{
      width: 140;
    margin: 15px;
}
::-webkit-input-placeholder {
        text-align: left !important;
        color: #bbbbbb;
    }

::-moz-placeholder {
        text-align: left !important;
}
:-moz-placeholder {
        text-align: left !important;
}
:-ms-input-placeholder {
        text-align: left !important;
}

.last_form{
    width: 650px;
    margin-bottom: 150px;  
    margin-left: -220;
}

